<include file="Public/header.html" />
<block name="header">
	<ul class="layui-nav layui-bg-green" lay-filter="">
		<img src="__PUBLIC__/images/logo.png" alt="" style="width: 40px;height: 40px;">
	  <li class="layui-nav-item"><a href="/">{$Think.config.WEB_NAME}</a></li>
	  <li class="layui-nav-item"><a href="/p">问答</a></li>
	  <li class="layui-nav-item"><a href="/s">收藏</a></li>
	  <li class="layui-nav-item layui-nav-right"><a href="/u">登录</a></li>
	</ul>
	<style>
		.layui-nav-right{
			margin-left: 75%;
		}
	</style>
</block>

<block name="main">



</block>


<block name="footer">
<div class="footer">
  <p><a href="{$Think.server.http_host}">{$Think.config.WEB_NAME}</a> 2017 &copy; <a href="https://github.com/cutephp/anonymous">anonymus</a></p>
</div>
</block>
<include file="Public/footer.html" />