<extend name="Public:base" />
<block name="main">

<div class="main layui-clear">
  <div class="wrap">
    <div class="layui-form-item">
      <!-- <div class="layui-input-block"> -->
        <input type="text" name="title" required  lay-verify="required" placeholder="请输入你的问题" autocomplete="off" class="layui-input" id="post">
      <!-- </div> -->
    </div>
    <script>
    layui.use(['jquery', 'layer'], function(){ 
      var $ = layui.$ //重点处
      ,layer = layui.layer;
      var content = '';
      $("#post").click(function(){
        layer.open({
          type: 2,
          title: "提问",
          closeBtn: 1,
          shadeClose: true,
          area: ['750px', '300px'],
          skin: 'layui-layer-molv',
          content: ["{:U('Home/Topic/ask')}","no"]
        });
      });
    });
    </script>
    <div class="content" style="margin-right:0">
      <ul class="fly-list">
        <volist name="list" id="vo">
          <li class="fly-list-li">
              <a href="" class="fly-list-avatar">
                <img src="{$vo.user_avatar}" alt="">
              </a>
              <h2 class="fly-tip">
                <a href="/v/{$vo.topic_id}">{$vo.topic_title|htmlspecialchars_decode}</a>
              </h2>
              <p>
                <span><a href="">{$vo.topic_poster|default="anonymous"}</a></span>
                <span>{$vo.topic_time|timespan}</span>
                <!-- <span>layui框架综合</span> -->
                <span class="fly-list-hint"> 
                  <i class="iconfont" title="回复">&#xe60c;</i> {$vo.topic_reply}
                  <i class="iconfont" title="查看">&#xe60b;</i> {$vo.topic_click}
                </span>
              </p>
            </li>
          </volist>
      </ul>
     <!--  <div id="page" style="margin:0 auto;">
        <span class="layui-btn" style="width: 100%;margin-top: 10px;">下一页</span>
        <input type="hidden" id="num" value="{$Think.get.p|default='1'}">
      </div> -->
      {$page}
      <!-- <script>
        function jump(count,url) { 
            window.setTimeout(function(){  
                count--;  
                if(count > 0) {  
                    jump(count);  
                } else {  
                    location.href=url;  
                }  
            }, 200);
        }
        layui.use(["jquery"],function(){
          var $ = layui.$;
          $("#page").click(function(){
            $("#page").addClass("layui-anim layui-anim-upbit");
              var page_num = $("#num").val();
              var url = "/t/"+ ++page_num;
              jump(1,url);
          });
        });
      </script> -->
  </div>
</div>
</block>